//Media Queries
$small: "screen and (min-width: 480px)"
$medium: "screen and (min-width: 1024px)"
$large: "screen and (min-width: 1440px)"

//Main Vars
$margin: 24px
$site-padding: 120px

$site-font: "Nunito", sans-serif

//Brand Colors
$moms_green: #29d9c2
$black: #231f20
$white: #ffffff
$grey: #b3b3b3

//Misc
$border-radius: 3px
$transition-in: 0.3s ease-in
$transition-out: 0.3s ease-out