body
	height: 100vh
	padding: ($site-padding / 3.5) ($site-padding / 3.5) 0
	background: url(i/owl@2x.png)  bottom right no-repeat
	background-size: 100%
	@media #{$small}
		padding: ($site-padding / 2) ($site-padding / 2) 0
	@media #{$medium}
		padding: ($site-padding / 1.25) ($site-padding / 1.25) 0
	@media #{$large}
		padding: ($site-padding / 1.25) $site-padding 0
.logo
	width: 200px
	margin-bottom: ($site-padding / 2)

.download_btn
	display: inline-block
	margin-right: 8px
	@media #{$small}
		margin-right: 16px

h1
	font: 800 24px/32px $site-font
	@media #{$small}
		font: 800 32px/40px $site-font
	@media #{$medium}
		font: 800 48px/56px $site-font
	span
		color: $moms_green

.download_btns
	margin-bottom: $site-padding

.social
	a
		width: 40px
		height: 40px
		margin-right: 8px

		img
			width: 40px
			height: 40px

footer
	p
		color: $grey
		font: 600 16px/24px $site-font

	.social
		margin-bottom: 48px